/*文本溢出显示省略号*/
.text-ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}

/*告警动效*/
.alarm-animation {
    animation: myAnimation 3s infinite;
}
@keyframes myAnimation {
    0% {
        box-shadow: 0 2px 2px red inset;
    }
    50% {
        box-shadow: 0 10px 40px red inset;
    }
    100% {
        box-shadow: 0 2px 2px red inset;
    }
}
@-webkit-keyframes myAnimation {
    0% {
        box-shadow: 0 2px 2px red inset;
    }
    50% {
        box-shadow: 0 10px 40px red inset;
    }
    100% {
        box-shadow: 0 2px 2px red inset;
    }
}
